body {
    background-color: #36393f;
    margin: 0;
    font-family: Whitney;
    font-size: 2rem;
    color: #fff;
    overflow: hidden;
}

img.emoji {
    height: 1.2em;
    width: 1.2em;
    margin: 0 .05em 0 .1em;
    vertical-align: -0.1em;
 }



#header {
    background-color: #202225;
    color: #72767d;
    font-size: 0.75rem;
    padding: 2px 10px;
    float: left;
    width: 100vw;
    font-family: Ginto Normal;
}



#navbar {
    background-color: #202225;
    font-size: 1rem;
    text-align: center;
    height: 100vh;
    width: 4rem;
    float: left;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0.355rem 0;
}

#navbar button,
#navbar #img {
    width: 2.65rem;
    height: 2.65rem;
    background-color: #36393f;
    color: #dcddde;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0.245rem 0;
    border-radius: 50%;
    transition: 0.2s;
    user-select: none;
    border: 0;
    font-family: Whitney;
    font-weight: 600;
    font-size: 1rem;
    text-transform: uppercase;
}

#navbar button:hover,
#navbar #img:hover {
    color: #fff;
    background-color: #5865f2;
    border-radius: 30%;
}

#navbar button:hover #svg {
    filter: brightness(0) invert(1);
}

#navbar #sep {
    height: 2px;
    width: 32px;
    border-radius: 1px;
    background-color: #ffffff0f;
    margin: 0.2rem 0;
}



#sidebar {
    background-color: #2f3136;
    font-size: 1rem;
    text-align: center;
    height: 100vh;
    width: 13.5rem;
    float: left;
    overflow-y: auto;
    scrollbar-width: none;
}

#sidebar h1 {
    padding: 0;
    margin: 1rem 0;
    font-size: 1.3rem;
    text-transform: capitalize;
}

#sidebar * {
    padding: 1rem 0.5rem;
}



#content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: calc(100vw - 17.5rem);
    float: right;
}



#main {
    background-color: #18191c;
    border-radius: 8px;
    box-shadow: 0 0 1rem #00000060;
    width: 300px;
    min-height: 10px;
}

#col {
    background-color: rgb(255, 255, 255);
    height: 60px;
    width: 300px;
    border-radius: 8px 8px 0 0;
    top: 0;
    z-index: 1;
    margin-bottom: 75px
}

#main #stuff {
    margin: 16px;
    height: calc(100% - 150px);
    display: flex;
    justify-content: center;
    align-items: center;
}

#main #col #pfp {
    border-radius: 50%;
    width: 90px;
    border: 6px solid #18191c;
    transform: translatex(16px) translatey(16px);
}