@font-face {
    font-family: Ginto;
    src: url("Ginto.woff2") format("woff2");
    font-weight: 500;
}


@font-face {
    font-family: Ginto;
    src: url("Ginto Normal.woff2") format("woff2"),
    url("Ginto Normal.woff") format("woff");
    font-weight: 700;
}

@font-face {
    font-family: Ginto;
    src: url("Ginto Nord.woff2") format("woff2"),
    url("Ginto Nord.woff") format("woff");
    font-weight: 900;
}

@font-face {
    font-family: Whitney;
    src: url("Whitney Book Regular.woff") format("woff");
    font-weight: 400;
}

@font-face {
    font-family: Whitney;
    src: url("Whitney Medium Regular.woff") format("woff");
    font-weight: 500;
}

@font-face {
    font-family: Whitney;
    src: url("Whitney Semibold Regular.woff") format("woff");
    font-weight: 600;
}